# Python
__pycache__/
.venv/

# Private Data
config.json
*.session
*.session-journal
*.log
*.conf
avatar.jpg
viewer.py
engine.py

# OS
.DS_Store

# build
FULLSYS.md
NEWMODULE.md
PROJECT_CONTEXT.md
DEBUG
UPDATE.md
IGNORE/
farms/*
!farms/.gitkeep

# AppImage and Build artifacts
*.AppImage
AppRun

# Logs and Local State
unknown_errors.txt
active_farm.txt
emails.txt
accounts.csv
Webshare*.txt
# Backups & Archives
*.bak
*.zip
*.tar.gz
*.rar
backups/

# Databases
*.db
*.db-journal
*.sqlite
*.sqlite3
phones.txt

# User content
avatars/*
!avatars/.gitkeep

shadowgram.desktop
DEF_FARMS

