# Core GUI Framework
PyQt6>=6.6.0

# Telegram Client Library (MTProto)
hydrogram

# Performance & Encryption (recommended for hydrogram)
tgcrypto>=1.2.5

# Optional: Networking
PySocks>=1.7.1
websocket-client>=1.6.1

# Markdown
markdown

